/*
  Color Scheme

  D5D5D5: Paper;
  9099A2: Overcast;
  6D7993: Lavendar;
  96858F: Dusty;
  222222: Black;
  FFFFFF: White;
*/

/* General Style Overrides */

/* Links */

a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* Custom Styles */

/* General */

body {
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
}

body a {
  color: #6D7993;
}

body a:hover {
  text-decoration: underline;
  color: #6D7993;
}

.navigation-item {
  display: inline;
  padding: 10px;
}

.entry {
  padding-bottom: 10px;
}

.quarters-two-five {
  grid-column: 2 / 5;
}

.text {
  text-align: left;
}

.summary {
  padding: 20px 0px;
}
