/* Override barebones.css color scheme */

html {

  /* default theme: light background, dark text, blue accent */
  --theme-hue: 0;         /* white */
  --accent-hue: 221;      /* blue */

  --text-color-richer: hsl(var(--theme-hue), 0%, 5%);     /* #0d0d0d    */
  --text-color-normal: hsl(var(--theme-hue), 0%, 13.3%);  /* #222222    text color; button:hover:focus color */
  --text-color-softer: hsl(var(--theme-hue), 0%, 33.3%);  /* #555555    button color; button:hover border */

  --accent-color: hsl(var(--accent-hue), 15%, 50%);       /* #6D7993    link; link hover; button-primary bg+border; textarea,select:focus border */
  --accent-color-hover: hsl(var(--accent-hue), 76%, 49%); /* #??????    button-primary:hover:focus bg+border */

  --border-color: hsl(var(--theme-hue), 0%, 73%);         /* #??????    border */
  --border-color-softer: hsl(var(--theme-hue), 0%, 82%);  /* #??????    textarea,select,code,td,hr border  */

  --background-color: white;                              /* transparent body background; textarea,select background */
  --background-color-softer: hsl(var(--theme-hue), 0%, 95%);
  --code-background: hsl(var(--theme-hue), 0%, 95%);      /* #??????    code background*/

  --button-primary-color: white;
}

/* General */

body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

/* Site components */

.navigation-item {
  display: inline;
  padding: 10px;
}

.main-text {
  text-align: left;
}

@media (min-width: 600px) {
  .main-text {
    grid-column: span 3;
  }
}

.summary {
  padding: 20px 0px;
}

.entry {
  padding-bottom: 10px;
}
