{% extends "base.html" %}

{% block content %}
<div class="grid-container quarters">
  <div>
    <img src="images/website-profile.jpg" width="175">
    <h5>David Zeng</h5>
  </div>
  <div class="main-text">
    <div class="summary">
      I currently work on researching and building high frequency crypto trading strategies, trading 9 figures in monthly volume and capturing 2-3% market share on certain spot exchanges.
      <br><br>
      Previously, I worked in equities HFT at Two Sigma Securities. Before that, I graduated from Carnegie Mellon University with a B.S in Computer Science, where I worked on problems in algorithmic game theory.
      <br><br>
      I'm interested in trading, rust, and mechanism design in crypto.
      <br>
      Contact me at davidzengx (at) gmail.com
    </div>

    <h5>Academic Work</h5>
    
    {% set publications = load_data(path="static/data/publications.json", format="json") %}
    {% for publication in publications %}
      <div class="entry">
        <em>{{ publication.title }}</em>
        [<a href="{{ publication.link }}">pdf</a>]
        <br>
        {{ publication.authors }}
        <br>
        {{ publication.venue }}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
